nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 8px;
    text-decoration: none;
    color: #000;
}

.active {
    text-decoration: underline;
    color: #e85ea7;
}

.logo {
    width: 90px;
    height: 70px;
    margin-right: 10px;
    vertical-align: middle;
}

.social_icons {
    margin-top: 20px;
    float: right;
}

.social_icons img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    vertical-align: middle;
}


.links a {
    text-decoration: none;
}

.frame {
    width: 250px;
    height: 450px;
    margin: 20px 20px;
    border: 2px solid #dc4d99;
    padding: 40px;
    text-align: center;
}

.catalogpic a {
    text-decoration: none;
}

.catalogpic p {
    text-align: center;
}

.catalogpic {
    max-width: 250px;
}